---
layout: default
permalink: /
---

{% include flavor.html %}

{% include  about.html %}

{% include  info.html %}
<div class="home">

  <div class="main-post">

  <div class="spacer">
    <h1 class="headings">Portfolio</h1>
  </div>

    <div class="post-list" id="portfolio">
      {% for post in site.posts %}
        <div class="folio-piece">
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
            <h2>{{ post.title }}</h2>
            <img class="thumb-image" src="{{ post.img }}">
          </a>

          <h4>Made for: {{post.platform}}</h4>

          <p>
            About: {{ post.about }}
          </p>

        </div>
      {% endfor %}
    </div>

  </div>

  {% include technologies.html %}

</div>

