---
layout: default
permalink: /
---

{% include flavor.html %}


<div class="home">
  {% include  about.html %}

  {% include  info.html %}

  <div class="main-post">

    <h1 class="page-heading">Portfolio</h1>

    <div class="post-list">
      {% for post in site.posts %}
        <div class="folio-piece">
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
            <h2>{{ post.title }}</h2>
            <img src="{{ post.img }}">
          </a>

          <h4>Made for: {{post.platform}}</h4>

          <p>
            About: {{ post.about }}
          </p>

        </div>
      {% endfor %}
    </div>

  </div>

  {% include technologies.html %}

</div>
