<section class="about">
	<div class="photo-div">
		<img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAZ8AAAAJGI4NjVmOTE5LWY1MDgtNDg1Yy04MDBmLWFjYjM1OGVlMzFjZA.jpg" class="profile-photo">
	</div>
	<div>
		<h3>Mathew Ostrander</h3>
    <ul class="social-media-list">
      <li>
        {% include icon-github.html username=site.github_username %}
      </li>
      <li>
        <a href="https://www.linkedin.com/in/maostrander">LinkedIn</a>
      </li>
      <li>
        {% include icon-twitter.html username=site.twitter_username %}
      </li>
      <li>
        <a href="https://www.facebook.com/ostrandacon">Facebook</a>
      </li>
      <li>
        <a href="https://plus.google.com/u/0/+MathewOstrander">Google+</a>
      </li>
    </ul>

    <p>{{ site.description }}</p>
	</div>

</section>
