<section class="about">
	<div id="about-photo-div">
		<img src="/images/smaller.jpg" width="300" class="profile-photo">
	</div>
	<div class="about-details">
		<h3 id="about-title">Mathew Ostrander</h3>
    <ul class="social-media-list">
      <li>
        {% include icon-github.html username=site.github_username %}
      </li>
      <li>
        {% include icon-linkedin.html username="Maostrander" %}
      </li>
      <li>
        {% include icon-twitter.html username=site.twitter_username %}
      </li>
      <li>
        {% include icon-facebook.html username="Ostrandacon" %}
      </li>
      <li>
        {% include icon-gplus.html username="+MathewOstrander" %}
      </li>
    </ul>

    <p class="blurb">{{ site.description }}</p>
	</div>

</section>

