<section id="info-main">
	<div class="spacer">
		<h1 class="headings">About Me</h1>
	</div>
  <div class="info-row">
    <div class="info-col info-col-1">
      <p>
        I'm a Mobile and Front-End Software Engineer at Kroll, a cybersecurity company that is the leading global provider of risk solutions. I'm having fun building mobile apps, protecting people's data, and learning to be a better developer as I go.
      </p>
    </div>
    <div class="info-col info-col-2">
      <p>Life is a game and I love to play. I am continually seeking to level myself up, to grow and better myself and become the best me that I am able to be. I am passionate about playing, coding, and learning.</p>
    </div>
  </div>

</section>
