<section id="info-main">
	<div class="spacer">
		<h1 class="headings">About Me</h1>
	</div>
	<div class="info-col info-col-1">
		<p>I am currently attending the Nashville Software School. I've completed the front end courses in HTML, CSS, and JavaScript. Afterwards we covered the basics of Ionic and mobile development. Currently we are learning the MEAN stack: using MongoDB, Express, Angular, and Node.JS</p>
	</div>
	<div class="info-col info-col-2">
		<p>Life is a game and I love to play. I am continually seeking to level myself up, to grow and better myself and become the best me that I am able to be. I am passionate about playing, coding, and learning.</p>
	</div>

</section>
