<section id="info-main">
	<div class="spacer">
		<h1 class="headings">About Me</h1>
	</div>
  <div class="info-row">
    <div class="info-col info-col-1">
      <p>
        I'm a Full-Stack Software Engineer at National General (An Allstate Company). Right now I'm building chatbots, modernizing our codebase and business practices, and striving to use AI to automate and simplify business processes and customer requests.
      </p>
      <p>
        I'm also a proud father and spend as much time as I can taking care of my family. We're always exploring, learning, and going on adventures together!
      </p>
    </div>
    <div class="info-col info-col-2">
      <p>Full-time Full-Stack Developer, Full-time Father, Part time Game Master. I code as a career, delight in being a dad, and play games as a passion. </p>
    </div>
  </div>

</section>
