<section id="tech-main">
	<div class="spacer">
		<h3 class="headings">Technologies Used</h3>
	</div>
	<div class="tech-col">
		<h4>Front End</h4>
		<ul>
			<li>HTML5/ Jade</li>
			<li>CSS/CSS3</li>
			<li>Sass</li>
			<li>JavaScript</li>
			<li>jQuery</li>
			<li>Bootstrap</li>
			<li>AngularJS</li>
		</ul>
	</div>
	<div class="tech-col">
		<h4>Back End</h4>
		<ul>
			<li>Node.js</li>
			<li>Express</li>
			<li>MongoDB</li>
			<li>SQLite</li>
			<li>PostgreSQL</li>
			<li>Matlab</li>
			<li>C++</li>
		</ul>
	</div>
	<div class="tech-col">
		<h4>Testing and Mobile Development</h4>
		<ul>
			<li>Mocha/ Chai</li>
			<li>Travis CI</li>
			<li>ESLint</li>
			<li>Ionic</li>
			<li>Cordova</li>
		</ul>
	</div>
</section>
