.about {
    background-color: $background-color;
    border-bottom: 1px solid white;
    border-left: 1px solid white;
    padding: 5px;
    max-width: 290px;
    position: fixed;
    float: right;
    right: 0;
    top: 62px;
    z-index: 1;
    @include media-query($on-laptop) {
        float: none;
        position: static;
        border: 1px solid white;
        max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
        max-width:         calc(#{$content-width} - (#{$spacing-unit}));
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
        .about-details {
            position: relative;
            min-height: 125px;
        }
        .blurb {
            max-width: -webkit-calc(50% - (#{$spacing-unit} / 2));
            max-width:         calc(50% - (#{$spacing-unit} / 2));
            margin-top: $spacing-unit;
        }
        .social-media-list {
            position: absolute;
            right: 0;
            max-width: -webkit-calc(50% - (#{$spacing-unit} / 2));
            max-width:         calc(50% - (#{$spacing-unit} / 2));
        }
    }

    @include media-query($on-palm) {
        max-width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        max-width:         calc(100% - (#{$spacing-unit} / 2));
    }
}
.profile-photo {
    border-radius: 50%;
    border: 1px solid $brand-color;
  @include media-query($on-palm) {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
}

    #about-photo-div {
      display: none;
    }
@include media-query($on-laptop) {
    #about-photo-div, #about-title {
      display: none;
    }
}
