#info-main {
    margin-top: $spacing-unit / 2;
    position: relative;
}

.info-col {
    @include media-query($large) {
    min-height: 210px;
    }
        min-height: 135px;
    float: left;
    padding: 5px;
    background-color: $light-background-color;
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
    @include media-query($on-palm) {
        float: none;
        min-height: 75px;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

.info-col-1 {
    border-top: 1px solid $brand-color;
    border-bottom: 1px solid $brand-color;
    border-left: 1px solid $brand-color;
    border-radius: 15px 0 0 15px;
    @include media-query($on-palm) {
        border-right: 1px solid $brand-color;
        border-bottom: none;
        border-radius: 15px 15px 0 0;
    }
}

.info-col-2 {
    border-top: 1px solid $brand-color;
    border-bottom: 1px solid $brand-color;
    border-right: 1px solid $brand-color;
    border-radius: 0 15px 15px 0;
    @include media-query($on-palm) {
        border-top: none;
        border-left: 1px solid $brand-color;
        border-radius: 0 0 15px 15px;
    }
}
