.folio-piece {
    // display: inline-block;
    h4 {
        text-align: center;
    }
    p {
        padding: 10px;
    }
    float: left;
    background-color: $light-background-color;
    border: 1px solid #DCFBD2;
    border-radius: 5px;
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
    min-height: 450px;
}
@include media-query($on-palm) {
    .folio-piece {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}
.post-header {
    display: inline-block;
    background-color: $grey-color;
    padding: 10px 40px 0 50px;
    border-radius: 0 30px 30px 0;
    font-size: 2rem;
    margin-top: $spacing-unit;
}
.post-content {
    background-color: $light-background-color;
    border: 1px solid $brand-color;
    border-radius: 15px;
    padding: $spacing-unit;
    h2 {
        text-align: center;
    }
}
