/**
 * Technologies Used
 */
.tech-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
    width: -webkit-calc(31% - (#{$spacing-unit} / 2));
    width:         calc(31% - (#{$spacing-unit} / 2));
    background-color: $light-background-color;
    min-height: 250px;
    border-top: 1px solid $brand-color;
    border-right: 1px solid $brand-color;
    border-left: 1px solid $brand-color;
    border-radius: 15px 15px 0 0;
}

// .info-col-1 {
//     @include media-query($on-palm) {
//         border-right: 1px solid $brand-color;
//         border-bottom: none;
//         border-radius: 15px 15px 0 0;
//     }
// }

@include media-query($on-phone) {
  h3 {
    font-size: 1.75rem;
    text-align: center;
  }
  h4 {
    text-align: center;
    font-size: 1.5rem;
  }
  .tech-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
    ul {
      text-align: center;
      list-style-type: none;
      font-size: 1.5em;
    }
  }
}

#tech-main {
  clear: both;
  h4,h3 {
    font-weight: bolder;
  }
}
