/**
 * Technologies Used
 */
.tech-col {
    float: left;
    padding-left: $spacing-unit / 2;
    padding-top: $spacing-unit / 2;
    width: -webkit-calc(28% - (#{$spacing-unit} / 2));
    width:         calc(28% - (#{$spacing-unit} / 2));
    background-color: $light-background-color;
    min-height: 250px;
    border-radius: 15px 15px 0 0;
    margin-left: 5%;
}

@include media-query($on-phone) {
  h3 {
    font-size: 1.75rem;
    text-align: center;
  }
  h4 {
    text-align: center;
    font-size: 1.5rem;
  }
  .tech-col {
    float: none;
    padding-left: 0px;
    padding-top: 0px;
    min-height: 100px;
    border-radius: 15px 15px 15px 15px;
    margin-left: $spacing-unit / 2 ;
    margin-right: $spacing-unit / 2 ;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
    ul {
      text-align: center;
      list-style-type: none;
      font-size: 1.5em;
    }
  }
}

#tech-main {
  clear: both;
  h4,h3 {
    font-weight: bolder;
  }
}
