/*
Main Color: #63A375
Second Color: #6FCB70
Highlight: #9792E3
Dark: #5B6C5D
Light: #C9E4CA
*/

body {
	background-color: #63A375;
  color: #5B6C5D; }

.righty {
	float: right;
}
.lefty {
	float: left;
}
.heavy {
	clear: both;
}
.text {
	background-color: #C9E4CA;
}

a {
	color: #6FCB70;
}

a:visited {
	color: #5B6C5D;
}
